
.logo
{
    align-self: flex-start;
}

.h1Tag
{
    align-self: flex-start;
}

.links
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links a
{
    text-decoration: none;
    color: var(--blue);
    
}
